<% provide(:title, "Edit #{@forum.name}")%>
<% content_for :sidebar_current do %>
  <%= render partial: 'communities/sidebar_current', locals: {community: @forum.community} %>
<% end %>
<%= render partial: 'layouts/nav', locals: {community: @forum.community} %>

<h2><%= @forum.name %></h2>

<%= render partial: 'form' %>
