<article class="topic">
  <section class="title">
    <h2><%= @topic.title %></h2>
  </section>
  <section class="posts">
    <%= render @topic.posts %>
  </section>
  <section class="reply">
    <%= render partial: 'posts/form', locals: {post: @topic.posts.new} %>
  </section>
  <%= link_to "Back", @topic.forum %>
</article>


