<article class="home-page">
  <img src="/assets/bg3.png" id="bg">
  <section class="welcome">
    <h1>Unprismatic</h1>
    <p>
      The fastest way to set up an online community. Easy to use, free, and no surveillance. 
    </p>
  </section>
</article>
