<article class="home-page">
  <section>
    <article>
      <h1>What is Unprismatic?</h1>
      <p>
        Unprismatic is a free, open-source forum generator whose name is a reference to the recent events involving the NSA. Individual units of Unprismatic are called communities, each of which can have several forums divided into categories. Communities may be private or public.
      </p>
    </article>
    <article>
      <h1>How can I be sure this is really private?</h1>
      <p>
        The source code is available to view on GitHub. Even if you believe there might be an NSA backdoor to the private communities here, you can always clone your own copy of the source code and host it locally.
      </p>
    </article>
    <article>
      <h1>When should/shouldn't I use Unprismatic?</h1>
      <p>
        Some good use cases for a public community:
      </p>
      <ul>
        <li>Any subreddit that you believe works better as a flat forum.</li>
        <li>A niche hobby that doesn't already have an established community.</li>
      </ul>
      <p>
        Some good use cases for a private community:
      </p>
      <ul>
        <li>You use Google Groups normally but want a forum structure instead.</li>
        <li>A project where team members need to share information.</li>
      </ul>
      <p>
        Situations where you should not use Unprismatic:
      </p>
      <ul>
        <li>You want to primarily post news articles and have people respond with comments. Reddit is better for this.</li>
        <li>You are a large organization and want the best forums money can buy. You should check out Discourse instead.</li>
      </ul>
    </article>
  </section>
</article>
