<article class="topic">
  <section class="title">
    <h2><%= topic.escape("title") %></h2>
  </section>
  <section class="posts"></section>
  <section class="reply"></section>
  <a href="#">Back</a>
</article>
