<section class="forum">
  <h2>Topics</h2>
  <a href="#topics/new">New Topic</a>
  <section class="topic-summaries">
    <table class="topic-summaries">
      <thead>
        <tr>
          <th>All Topics</th>
          <th>Replies</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </section>
</section>
