<section class="forum">
  <h2>Topics</h2>
  <a href="#topics/new">New Topic</a>
  <section class="topics">
    <table class="topics">
      <caption>
        <h4>All Topics</h4>
      </caption>
      <tbody>
        
      </tbody>
    </table>
  </section>
</section>
