<tr class="topic-summary">
  <td class="title">
    <a href="#topics/<%= topic.id %>">
      <%= topic.escape("title") %>
    </a>
  </td>
  <td class="num-replies">
    <span><%= topic.get("posts").length %></span>
  </td>
</tr>
