<% provide(:title, 'Edit Post') %>
<% content_for :sidebar_current do %>
  <%= render partial: 'communities/sidebar_current', locals: {community: @post.community} %>
<% end %>
<%= render partial: 'layouts/nav', locals: {
      community: @post.community,
      forum: @post.forum,
      topic: @post.topic
    } %>


<h2>Edit Post</h2>

<%= render partial: 'form', locals: {post: @post} %>
