/*
Syntax error: File to import not found or unreadable: bootstrap.
              Load paths:
                /home/kli/appacad/unprismatic/app/assets/stylesheets
                /home/kli/appacad/unprismatic/app/assets/stylesheets
        on line 14 of /home/kli/appacad/unprismatic/app/assets/stylesheets/application.css.scss

9:  * compiled file, but it's generally better to create a new file per style scope.
10:  *
11:  *= require_self
12:  *= require_tree .
13:  */
14: @import "bootstrap";

Backtrace:
/home/kli/appacad/unprismatic/app/assets/stylesheets/application.css.scss:14
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/import_node.rb:45:in `import'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/exec.rb:432:in `watch_or_update'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/home/kli/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/bin/sass:9:in `<top (required)>'
/home/kli/.rvm/gems/ruby-1.9.3-p392/bin/sass:23:in `load'
/home/kli/.rvm/gems/ruby-1.9.3-p392/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap.\A               Load paths:\A                 /home/kli/appacad/unprismatic/app/assets/stylesheets\A                 /home/kli/appacad/unprismatic/app/assets/stylesheets\A         on line 14 of /home/kli/appacad/unprismatic/app/assets/stylesheets/application.css.scss\A \A 9:  * compiled file, but it's generally better to create a new file per style scope.\A 10:  *\A 11:  *= require_self\A 12:  *= require_tree .\A 13:  */\A 14: @import \"bootstrap\";"; }
