.hidden {
  display: none; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

body {
  padding-top: 60px; }

/* Header */
#logo {
  text-decoration: none;
  float: left;
  color: #999;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1;
  padding: 9px; }

#logo:hover {
  color: white;
  background: black; }

ul.nav.pull-right li > a:hover {
  color: white;
  background: black; }
ul.nav.pull-right li > a {
  font-weight: bold; }

/* Sidebar */
.accordion-inner {
  padding: 4px; }

/* Community/Forum/Topic nav */
section.nav ul.nav-links {
  list-style: none;
  margin: 0;
  padding: 0; }
  section.nav ul.nav-links li {
    display: inline; }

.btn {
  font-weight: bold; }

.btn-danger {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 150px; }

table.category {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0; }
  table.category tr {
    border-bottom: 1px solid #ddd; }
    table.category tr .admin {
      width: 260px; }
    table.category tr td:nth-child(2), table.category tr th:nth-child(2) {
      width: 200px; }
    table.category tr td, table.category tr th {
      text-align: left; }
    table.category tr h5 {
      padding: 0;
      margin: 0; }

table.topic-summaries {
  width: 100%; }
  table.topic-summaries h4 {
    padding: 0;
    margin: 0; }
    table.topic-summaries h4 a {
      font-weight: normal; }
    table.topic-summaries h4 a.unread {
      font-weight: bold; }
  table.topic-summaries tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
    table.topic-summaries tr td, table.topic-summaries tr th {
      padding: 8px;
      background: #f6f6f6;
      text-align: left; }
    table.topic-summaries tr td:first-child, table.topic-summaries tr th:first-child {
      width: 90%; }
    table.topic-summaries tr td.num-replies {
      font-weight: bold; }
    table.topic-summaries tr td.num-views {
      font-weight: bold; }

.votes {
  font-weight: bold; }
  .votes > .up {
    color: #0a0; }
  .votes > .down {
    color: red; }

article.post {
  padding: 10px 10px 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #f6f6f6; }
  article.post section.info {
    background: #f6f6f6;
    position: relative; }
    article.post section.info div {
      display: inline-block;
      padding: 8px 2px; }
      article.post section.info div a, article.post section.info div time {
        vertical-align: middle; }
    article.post section.info div.edit-panel {
      position: absolute;
      right: 0; }
    article.post section.info .gravatar > img {
      width: 20px;
      height: 20px; }

form.new_topic input, form.new_topic textarea {
  width: 100%; }
