.hidden {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  padding-top: 60px;
}

.votes {
  font-weight: bold;

  > .up {
    color: #0a0;
  }
  > .down {
    color: red;
  }
}
