.hidden {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  padding-top: 60px;
}

/* Header */

#logo {
  text-decoration: none;
  float: left;
  color: #999;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1;
  padding: 9px;
}

#logo:hover {
  color: white;
  background: black;
}

ul.nav.pull-right {
  li {
    > a:hover {
      color: white;
      background: black;
    }
    > a {
      font-weight: bold;
    }
  }
}

/* Sidebar */

.accordion-inner {
  padding: 4px;
}

.accordion-heading {
  > .accordion-toggle {
    > .icon-chevron-down {
      float: right;
    }
  }
}

/* Community/Forum/Topic nav */

section.nav {
  ul.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      display: inline;
    }
  }
}

.btn {
  font-weight: bold;
}

.btn-danger {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 150px;
}

table.category {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  tr {
    border-bottom: 1px solid #ddd;

    .admin {
      width: 260px;
    }

    td:nth-child(2), th:nth-child(2) {
      width: 200px;
    }

    td, th {
      text-align: left;
    }

    h5 {
      padding: 0;
      margin: 0;
    }
  }
}

table.topic-summaries {
  width: 100%;

  h4 {
    padding: 0;
    margin: 0;
    
    a {
      font-weight: normal;
    }

    a.unread {
      font-weight: bold;
    }
  }

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    td, th {
      padding: 8px;
      background: #f6f6f6;
      text-align: left;
    }

    td:first-child, th:first-child {
      width: 90%;
    }

    td.num-replies {
      font-weight: bold;
    }

    td.num-views {
      font-weight: bold;
    }
  }
}

.votes {
  font-weight: bold;

  > .up {
    color: #0a0;
  }
  > .down {
    color: red;
  }
}

article.post {
  padding: 10px 10px 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #f6f6f6;

  section.info {
    background: #f6f6f6;
    position: relative;
    
    div {
      display: inline-block;
      padding: 8px 2px;

      a, time {
        vertical-align: middle;
      }
    }

    div.edit-panel {
      position: absolute;
      right: 0;
    }

    .gravatar > img{
      width: 20px;
      height: 20px;
    }
  }
}

form.post-form {
  input, textarea {
    width: 100%;
  }
}
