body {
  padding-top: 60px;
}

#logo {
  text-decoration: none;
  float: left;
  color: #999;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1;
  padding: 9px 0;
}

#logo:hover {
  color: white;
  background: black;
}

ul.nav.pull-right {
  li {
    > a:hover {
      color: white;
      background: black;
    }
    > a {
      font-weight: bold;
    }
  }
}

.btn {
  font-weight: bold;
}

.btn-danger {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
}

table.category {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  tr {
    .admin {
      width: 260px;
    }

    border-bottom: 1px solid #ddd;

    td:nth-child(2), th:nth-child(2) {
      width: 200px;
    }

    td, th {
      text-align: left;
    }

    h5 {
      padding: 0;
      margin: 0;
    }
  }
}