.btn-danger {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 150px;
}

table.category {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  tr {
    border-bottom: 1px solid #ddd;

    .admin {
      width: 260px;
      a {
        font-weight: normal;
      }
    }

    td:nth-child(2), th:nth-child(2) {
      width: 200px;
    }

    td, th {
      text-align: left;
    }

    h5 {
      padding: 0;
      margin: 0;
    }
  }
}

table.topic-summaries {
  width: 100%;

  h4 {
    padding: 0;
    margin: 0;
    
    a {
      font-weight: normal;
    }

    a.unread {
      font-weight: bold;
    }
  }

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    td, th {
      padding: 8px;
      background: #f6f6f6;
      text-align: left;
    }

    td:first-child, th:first-child {
      width: 90%;
    }

    td.num-replies {
      font-weight: bold;
    }

    td.num-views {
      font-weight: bold;
    }
  }
}
