/* Header */

#logo {
  text-decoration: none;
  float: left;
  color: #999;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1;
  padding: 9px;
}

#logo:hover {
  color: white;
}

ul.nav.pull-right {
  li {
    > a:hover {
      color: white;
    }
    > a {
      font-weight: bold;
    }
  }
}
