<table class="category">
  <thead>
    <th><%= category.name %></th>
    <th><%= link_to "Add Forum", new_category_forum_path(category) %></th>
    <th>Latest Activity</th>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
