<h2><%= @community.name %></h2>

<% if current_user.is_admin?(@community) %>
  <section class="admin-panel">
    <%= link_to "Add Category", new_community_category_path(@community), class: "btn btn-success" %>
  </section>
<% end %>
<section class="categories">
  <%= render @community.categories %>
</section>
