<div class="sidebar-nav span2">
  <%= yield(:sidebar_current) %>
  <ul class="nav nav-tabs nav-stacked">
    <li class="nav-header">Favorites</li>
    <% communities.each do |community| %>
      <li><%= link_to community.name, community %></li>
    <% end %>
  </ul>
</div>
